
<div cdkDropList [cdkDropListData]="programList" cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  <div class="label-slider">
    <!-- hier de nav -->
    <div class="label-slider-container">
      <div class="label-item" *ngFor="let item of programList" cdkDrag>
        <div class="label-item-marker">
          <div class="label-item-marker-line"></div>
        </div>
        <app-program-card-component [program]='item' [currentTime]='currentTime'></app-program-card-component>
      </div>
    </div>
  </div>
</div>
